# sum of all numbers

In [ ]:
num_list= input("Enter the numbers:")
number = [float(num) for num in num_list.split()]
total = sum(number)
print("The sum of the numbers:", total)

Enter the numbers: 4.4 5.9 9.8 13 45

The sum of the numbers: 78.1

# multiples all items

In [4]:

def multiply_numbers():
    num_list = input("Enter numbers separated by space: ")
    numbers = [float(num) for num in num_list.split()]
    result = 1
    for num in numbers:
        result *= num
    print("The multiplication of the numbers:", result)

multiply_numbers()

Enter numbers separated by space:  2 3 4 5

The multiplication of the numbers: 120.0

# Max number

In [11]:
def max_numbers():
    max_num = input("Enter numbers : ")
    numbers = [float(num) for num in max_num.split()]
    result = max(numbers) 
    print("The max of the numbers:", result)

max_numbers()

Enter numbers :  2 3 4 5 6

The max of the numbers: 6.0

# small number

In [1]:
def small_numbers():
    small_num = input("Enter numbers : ")
    numbers = [float(num) for num in small_num.split()]
    result = min(numbers) 
    print("The small of the numbers:", result)

small_numbers()

Enter numbers :  2 3 4

The small of the numbers: 2.0

#  Count Strings with Same Start and End

In [8]:
def match_words(words):  
    ctr = 0
    for string in words:
        if len(string) > 1 and string[0] == string[-1]:  
            ctr += 1  
    return ctr  

string_name= input("Enter words: ")  
stng = string_name.split()
print("Matching words:", match_words(stng))

Enter words:  aaa ccc dfg bhu ooop

Matching words: 2

# remove duplicate value

In [2]:
my_list = ["a", "ba", "a", "ca", "c"]
my_list = list(dict.fromkeys(my_list))
print(my_list)

['a', 'ba', 'ca', 'c']

# empty list

In [7]:
l = []
if not l:
   print("List is empty")

List is empty

# clone or copy list

In [2]:
my_list = [10, 22, 44, 23, 4]
new_list = list(my_list)
print(my_list)
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

# common elements two list

In [11]:
def common_value(list1,list2):
  result = False
  for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result
                
print(common_value([1, 2, 3, 7, 5], [5, 6, 7, 8, 9]))
print(common_value([1, 22, 37, 40, 53], [65, 78, 81, 19]))

True
None

# SPECIFIED list remove

In [12]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i, x) in enumerate(color) if i not in (0, 4, 5)]
print(color)

['Green', 'White', 'Black']

# sorted in increasing order by the last element

In [10]:
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

for i in range(len(a)):
    for j in range ( i+1,len(a)):
        if a[i][1] > a[j][1]:
            a[j],a[i] = a[i],a[j]
print(a)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# string  length

In [13]:
def long_words(n, str):
    string = []
    text= str.split(" ")
    for i in text:
        if len(i)> n:
           string.append(i)
    return string
print(long_words(3, "upoma has good personality"))

['upoma', 'good', 'personality']

# common value

In [27]:
def common_value(list1,list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
               result= True
               return result
list1=list(map(int,input("Enter the value:").split()))
list2=list(map(int,input("Enter the value:").split()))
print(common_value(list1, list2))

Enter the value: 1 2 3 4 5
Enter the value: 5 6 7 8 9

True

# removing even numbers

In [35]:
list1 = list(map(int, input("Enter the  numbers : ").split()))
result = []
for x in list1:
    if x%2 != 0:
         result.append(x) 
print("removing even numbers:", result)

Enter the  numbers :  1 2 3 4 5 6

removing even numbers: [1, 3, 5]

In [36]:
# alternative 

list1 = list(map(int, input("Enter the  numbers : ").split()))
result = [x for x in list1 if x % 2 != 0]  
print(result)

Enter the  numbers :  1 2 3 4

[1, 3]

# permutations

In [39]:
import itertools
print(list(itertools.permutations([1, 2, 3,4,5])))

[(1, 2, 3, 4, 5), (1, 2, 3, 5, 4), (1, 2, 4, 3, 5), (1, 2, 4, 5, 3), (1, 2, 5, 3, 4), (1, 2, 5, 4, 3), (1, 3, 2, 4, 5), (1, 3, 2, 5, 4), (1, 3, 4, 2, 5), (1, 3, 4, 5, 2), (1, 3, 5, 2, 4), (1, 3, 5, 4, 2), (1, 4, 2, 3, 5), (1, 4, 2, 5, 3), (1, 4, 3, 2, 5), (1, 4, 3, 5, 2), (1, 4, 5, 2, 3), (1, 4, 5, 3, 2), (1, 5, 2, 3, 4), (1, 5, 2, 4, 3), (1, 5, 3, 2, 4), (1, 5, 3, 4, 2), (1, 5, 4, 2, 3), (1, 5, 4, 3, 2), (2, 1, 3, 4, 5), (2, 1, 3, 5, 4), (2, 1, 4, 3, 5), (2, 1, 4, 5, 3), (2, 1, 5, 3, 4), (2, 1, 5, 4, 3), (2, 3, 1, 4, 5), (2, 3, 1, 5, 4), (2, 3, 4, 1, 5), (2, 3, 4, 5, 1), (2, 3, 5, 1, 4), (2, 3, 5, 4, 1), (2, 4, 1, 3, 5), (2, 4, 1, 5, 3), (2, 4, 3, 1, 5), (2, 4, 3, 5, 1), (2, 4, 5, 1, 3), (2, 4, 5, 3, 1), (2, 5, 1, 3, 4), (2, 5, 1, 4, 3), (2, 5, 3, 1, 4), (2, 5, 3, 4, 1), (2, 5, 4, 1, 3), (2, 5, 4, 3, 1), (3, 1, 2, 4, 5), (3, 1, 2, 5, 4), (3, 1, 4, 2, 5), (3, 1, 4, 5, 2), (3, 1, 5, 2, 4), (3, 1, 5, 4, 2), (3, 2, 1, 4, 5), (3, 2, 1, 5, 4), (3, 2, 4, 1, 5), (3, 2, 4, 5, 1), (3, 2, 5, 1, 4), (3, 2, 5, 4, 1), (3, 4, 1, 2, 5), (3, 4, 1, 5, 2), (3, 4, 2, 1, 5), (3, 4, 2, 5, 1), (3, 4, 5, 1, 2), (3, 4, 5, 2, 1), (3, 5, 1, 2, 4), (3, 5, 1, 4, 2), (3, 5, 2, 1, 4), (3, 5, 2, 4, 1), (3, 5, 4, 1, 2), (3, 5, 4, 2, 1), (4, 1, 2, 3, 5), (4, 1, 2, 5, 3), (4, 1, 3, 2, 5), (4, 1, 3, 5, 2), (4, 1, 5, 2, 3), (4, 1, 5, 3, 2), (4, 2, 1, 3, 5), (4, 2, 1, 5, 3), (4, 2, 3, 1, 5), (4, 2, 3, 5, 1), (4, 2, 5, 1, 3), (4, 2, 5, 3, 1), (4, 3, 1, 2, 5), (4, 3, 1, 5, 2), (4, 3, 2, 1, 5), (4, 3, 2, 5, 1), (4, 3, 5, 1, 2), (4, 3, 5, 2, 1), (4, 5, 1, 2, 3), (4, 5, 1, 3, 2), (4, 5, 2, 1, 3), (4, 5, 2, 3, 1), (4, 5, 3, 1, 2), (4, 5, 3, 2, 1), (5, 1, 2, 3, 4), (5, 1, 2, 4, 3), (5, 1, 3, 2, 4), (5, 1, 3, 4, 2), (5, 1, 4, 2, 3), (5, 1, 4, 3, 2), (5, 2, 1, 3, 4), (5, 2, 1, 4, 3), (5, 2, 3, 1, 4), (5, 2, 3, 4, 1), (5, 2, 4, 1, 3), (5, 2, 4, 3, 1), (5, 3, 1, 2, 4), (5, 3, 1, 4, 2), (5, 3, 2, 1, 4), (5, 3, 2, 4, 1), (5, 3, 4, 1, 2), (5, 3, 4, 2, 1), (5, 4, 1, 2, 3), (5, 4, 1, 3, 2), (5, 4, 2, 1, 3), (5, 4, 2, 3, 1), (5, 4, 3, 1, 2), (5, 4, 3, 2, 1)]

# Difference between two lists.

In [41]:
list1=list(map(int,input("Enter the number:").split()))
list2=list(map(int,input("Enter the number:").split()))
differ_ne1= list(set(list1)-set(list2))
differ_ne2= list(set(list2)-set(list1))
total_list= differ_ne1+differ_ne2
print(total_list)

Enter the number: 1 2 3 4
Enter the number: 2 4 5

[1, 3, 5]

# index value

In [44]:
list1=list(map(int,input("Enter the number:").split()))
for list1_index ,list1_value  in enumerate (list1):
    print ( list1_index ,list1_value)

Enter the number: 1 2 3 4 5 6

0 1
1 2
2 3
3 4
4 5
5 6

# list of characters into a string.

In [54]:
val1=['a','m','i']
s='-'.join(val1)
print(s)

a-m-i

# specified index value

In [62]:
list1 = list(map(int, input("Enter the numbers: ").split()))
value1 = int(input("Enter the number-index: ")) # ask  the number
if value1 in list1:   #check nthe value
    print(list1.index(value1))  # Prints the index 
else:
    print(f"{value1} is not in the list.")

Enter the numbers:  1 2 3 4 5
Enter the number-index:  3

2

In [65]:
# alternative this code

list1=[ 1,2,3,4,5]
print(list1.index(2))

1

# append list

In [66]:
list1=[ 1,2,3,4,5]
list2=['red','blue']
final=list1+list2
print(final)

[1, 2, 3, 4, 5, 'red', 'blue']

# flatter-list

In [1]:
a = [[1,2],[2,4,6],[7,9,8]]
flatten_list= []
for x in a:
    for y in x:
        flatten_list.append(y)
print (flatten_list)

[1, 2, 2, 4, 6, 7, 9, 8]

In [4]:
#alternative flatten_list

import itertools
a = [[1,2],[2,4,6],[7,9,8]]
new_list = list(itertools.chain(*a))
print(new_list)

[1, 2, 2, 4, 6, 7, 9, 8]

# Random Item from List

In [10]:
import random
num_list =input("Enter the num:")
print(random.choice(num_list ))

Enter the num: 1 2 3 4 5 6 7 8

1

# second  smallest number

In [11]:
list1 = list(map(int, input("Enter the numbers: ").split()))
list1.sort()
print(f"second smallest number:{list1[1]}")

Enter the numbers:  2 3 5 6 1

second smallest number:2

# second largest number

In [16]:
list1 = list(map(int, input("Enter numbers: ").split()))
list1 = list(set(list1))  # Remove duplicates
list1.sort()
if len(list1) < 2:
    print("second largest number.")

Enter numbers:  2 3 6 7

Second largest number: 6

# (32) sublists of a list.

In [9]:
def upo_ma(a):
    b=[]
    for i in a:
        if isinstance(i,list):
           b.extend(upo_ma(i))
        else:
           b.append(i)
    return b
    
a = [[[1]],[[2]],[[3]],[[4]]] 
print(upo_ma(a))

[1, 2, 3, 4]

# generate all sublists of a list.

In [11]:
a = [1, 2, 3,4]  
b= []  
for i in range(len(a)):  
    for j in range(i + 1, len(a) + 1):  
        b.append(a[i:j])  
print(b)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [2], [2, 3], [2, 3, 4], [3], [3, 4], [4]]

# unique number of list

In [12]:
list1 = list(map(int, input("Enter the numbers: ").split()))
aa=[]
for i in list1:
    if i not in aa:
        aa.append(i)
print (aa)

Enter the numbers:  2 3 4 5 5

[2, 3, 4, 5]

# number of elements in a list within aspecified range.

In [20]:
def upo(li,min,max):
    for i in li:
        if min <= i <=max:
           print (i)
a=(map(int, input("Enter the numbers: ").split()))
n, m = map(int, input("Enter the min and max values: ").split()) 
print(upo(a,n ,m))

Enter the numbers:  1 2 3 45
Enter the min and max values:  1 9

1
2
3
None

#  33.Generate all sublists of a list

In [1]:
li= [10,20,30,40]
upo=[]
    for j in range (0,len(li)+1):
        print(j)
        new = li[i:j]
        upo.append(new)
print(upo)

IndentationError: unexpected indent (756317653.py, line 3)

# list range

In [8]:
a=['p','q']
n=5
li =[]
for i in range(1,n+1):
    for j in  a:
        new =j+str(i)
        li.append(new)
print(li)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']